***
#### **捐赠**
<img src="https://raw.githubusercontent.com/GitHubFroxy/githubfroxy.github.io/master/assets/img/zhufubao.JPG?raw=true" width="30%" height="30%" />           <img src="https://raw.githubusercontent.com/GitHubFroxy/githubfroxy.github.io/master/assets/img/weixin.JPG?raw=true" width="30%" height="30%" />

###### 觉得分享的内容还不错, 就请作者喝杯咖啡吧~~
***

{% if page.comments != false %}
    <script>
    var idcomments_acct = '57b96ccdee0049dc0a4e52447adf5f53';
    var idcomments_post_id;
    var idcomments_post_url;
    </script>
    <script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
    <script>
    var idcomments_acct = '57b96ccdee0049dc0a4e52447adf5f53';
    var idcomments_post_id;
    var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
{% endif %}